@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Syne:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --white: #f5f7f5;
    --white-solid: #fff;
    --black: #1e1e1e;
    --black-alt: #141414;
    --dark: #121212;
    --orange: #eb5939;
    --grey-light: #f4f4f4;
    --grey-dark: #262626;
    --grey-medium: #5d5d63;
    --grey-bg: #f7f7f7;
    --text-body: #5d5d63;
    --theme-primary: #336ef9;
    --border: #eaeaeb;
    --ff-body: "Syne", sans-serif;
    --ff-gallery: 'Gallery';
    --ff-marcellus: "Marcellus", serif;
}

@font-face {
    font-family: 'Gallery';
    src: url('../fonts/GalleryRegular.woff2') format('woff2'),
        url('../fonts/GalleryRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.font-syne {
    font-family: "Syne", sans-serif;
}

.font-marcellus {
    font-family: "Marcellus", serif;
}

.font-gallery {
    font-family: 'Gallery';
}





/* Smooth scroll stuff */
html {
    overflow-x: hidden;
    overflow-y: scroll;
}

.js-cont {
    position: relative;
    width: 100%;
    height: 100%;
}

.js-scroll {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    will-change: transform;
}

body {
    position: relative;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-body);
    line-height: 26px;
    font-family: "Syne", sans-serif;
}

.container {
    transition: all 1s;
}


.font-140 {
    font-size: 7.5vw;
}

.font-20 {
    font-size: 20px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-45 {
    margin-bottom: 45px;
}


p {
    font-family: var(---ff-p);
    color: var(--text-body);
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.dark-btn {
    height: 60px;
    line-height: 55px;
    border-radius: 40px;
    padding: 0 18px 0 24px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.03em;
    z-index: 9;
    text-decoration: none;
    overflow: hidden;
    display: inline-block;
    text-transform: capitalize;
    position: relative;
    transition: all 0.3s;
    background-color: var(--black);
    color: var(--white);
    border: 2px solid transparent;
}


.dark-btn:hover {
    background-color: transparent;
    color: var(--black);
    border-color: var(--black);
}

.dark-btn:hover span .svg-icon {
    color: var(--white);
}

.svg-icon {
    position: absolute;
    top: 7px;
    left: -2px;
    right: 0;
    z-index: 2;
    margin: 0 auto;
    transition: 0.3s;
    color: var(--black);
}

.dark-btn:hover .svg-bg {
    animation: rotate2 10s linear infinite;
}


.sectionPadding {
    padding: 110px 0;
}


@keyframes rotate2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*═══════════════════════════════╗
  ║          Header  CSS         ║
  ╚═══════════════════════════════*/

.header {
    padding: 35px 0;
    position: relative;
}


.header .row {
    align-items: center;
}

.header-logo img {
    width: 85px;
    height: 100%;
}

.social-list li.toggleBtn a {
    background: unset;
}

.social-list li.toggleBtn a {
    background: unset;
    border: 1px solid var(--black);
    font-size: 24px;
    line-height: 39px;
}

.header ul {
    list-style: none;
    margin: 0;
}


.header ul li a {
    text-decoration: none;
}

.menu-list {
    display: inline-flex;
    justify-content: center;
    padding: 0 15px;
    background-color: rgba(46, 46, 46, .9);
    border-radius: 30px;
}


.menu-list a {
    color: var(--white-solid);
    font-size: 17px;
    font-size: 17px;
    font-weight: 500;
    padding: 12px 0;
    transition: .3s;
    display: inline-block;
}

.menu-list li {
    padding: 0 15px;
}

.header-menu {
    text-align: center;
}


.social-list {
    display: flex;
    justify-content: end;
    gap: 7px;
}

.header-social-links {
    text-align: end;
}

.social-list li a {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-light);
    color: var(--black);
    transition: .3s;
    border-radius: 50%;
}

.social-list li a:hover {
    background-color: var(--black);
    color: var(--grey-light);
}



/*═══════════════════════════════╗
  ║          Header  CSS         ║
  ╚═══════════════════════════════*/


/*═══════════════════════════════╗
  ║        heroSection  CSS      ║
  ╚═══════════════════════════════*/


.heroSection {
    position: relative;
    padding-top: 160px;
    min-height: 80svh;
    padding-bottom: 70px;
    text-align: center;
}

.circle-shape {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.circle-shape span {
    height: 480px;
    width: 460px;
    display: inline-block;
    filter: blur(35px);
    border-radius: 62% 47% 82% 35%/45% 45% 80% 66%;
    background: linear-gradient(220deg, rgba(148, 254, 98, 0.5) 0.77%, rgba(255, 226, 122, 0.5) 55.4%, rgba(234, 94, 94, 0.5) 100%);
}


.heroSection h1 {
    color: var(--black);
}

.quote {
    line-height: 1;
    text-align: center;
    overflow: hidden;
    color: var(--black);
    padding-bottom: 18px;
}



/*═══════════════════════════════╗
  ║       heroSection  CSS       ║
  ╚═══════════════════════════════*/



/* Optional styling */
.wrap {
    overflow: hidden;
    /* Prevents the text from showing outside its container during animation */
}

.quote {
    transform: translateY(100%);
    /* Start with text off-screen at the bottom */
    opacity: 0;
    /* Start fully invisible */
}


span.subtitle-text.text_invert {
    padding: 0px 15px;
    display: inline-block;
}

.section-subtitle-2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--black);
    font-family: var(--ff-marcellus);
    margin-bottom: 25px;
    display: inline-block;
    margin-left: 70px;
}


.section-title-90 {
    font-size: 90px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -1.8px;
    color: var(--black);
    font-family: var(--ff-marcellus);
}

.about-content {
    padding-right: 230px;
}

.about-shape {
    margin-right: 160px;
}

.about-shape img {
    animation: rotate2 5s linear infinite;
}

.marquee {
    overflow: hidden;
    position: relative;
    width: 100%;
    background: #fff; /* adjust as needed */
    padding: 10px 0;
    margin-bottom: 2rem; /* spacing between marquees */
  }
  
  .marquee-inner {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  
  .marquee-item {
    flex: none;
    margin-right: 2rem;
    width: 200px;
}
  
  .marquee-item img {
    display: block;
    max-height: 80px; /* adjust as needed */
    width: auto;
  }
  
  .textScroll {
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
  }

  .textScroll .section-title-90 {
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .textScroll .marquee-item {
    width: auto
  }



.titleWrapper {
    display: flex;
    align-items: center;
    gap: 40px;
}
.titleWrapper .about-shape {
    margin: 0;
}

.titleWrapper .about-shape img {
    max-width: 70px;
    opacity: 0.2;
}

.service-wrap {
    padding-top: 65px;
    padding-bottom: 70px;
    border-top: 1px solid rgba(25, 25, 26, 0.1);
}


.mb-60 {
    margin-bottom: 60px;
}


  


.service-content {
    padding: 0px 70px;
}

.service-category span {
    height: 32px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
    padding: 0px 20px;
    line-height: 30px;
    display: inline-block;
    text-transform: uppercase;
    color: var(--black);
    border: 1px solid #E4E4E8;
    margin-right: 8px;
}



.service-title {
    font-size: 34px;
    font-weight: 400;
    line-height: 1;
    color: var(--black);
    font-family: var(--ff-marcellus);
}

.service-title a {
    background-image: linear-gradient(#000, #000), linear-gradient(#000, #000);
    display: inline;
    background-size: 0% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s linear;
    text-decoration: none;
    color: var(--black);
}

.service-title:hover a {
    background-size: 0% 2px, 100% 2px;
}


.btn-details span .svg-bg {
    color: var(--white-solid);
    transition: 0.3s ease-in-out;
}

.btn-details .details-content svg {
    display: block;
    margin-top: 7px;
    transition: 0.7s;
}

.btn-details .details-content {
    position: absolute;
    top: -20px;
    left: 43px;
    z-index: 2;
}

.btn-details {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.18px;
    color: var(--black);
    text-align: left;
    transition: 0.3s ease-in-out;
    position: relative;
}


.btn-details:hover span .svg-bg {
    color: var(--black);
    animation: rotate2 10s linear infinite;
}


.btn-details:hover .details-content {
    color: var(--white-solid);
}

.techLogo img {
    filter: grayscale(1);
}














.ourWork {
    color: var(--white);
    background-color: var(--black);
}

.ourWork .section-subtitle-2,.ourWork .section-title-90 {
    color: var(--white);
}



.textRow{
    position: relative;
    padding: 20px 0;
}


.textRow:hover::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--white);
    transition: all 0.5s;
}


.textRow::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #ffffff1a;
    transition: all 0.5s;
}

.textRow a {
    display: flex;
    align-items: center;
    min-height: 130px;
}

.projectImg img {
    max-width: 130px;
    border-radius: 10px;
}

.projectTitle {
    display: flex;
        align-items: baseline;
        flex-direction: column;
        transition-delay: .1s;
        transition-property: transform;
        transition-timing-function: cubic-bezier(.135,.9,.15,1);
        transition-duration: .9s;
}

.textRow a .projectImg img {
        width: 0;
        transition-property: all;
        transition-timing-function: cubic-bezier(.135,.9,.15,1);
        transition-duration: .7s;
        transform: translate3d(0,0,0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        display: inline-flex;
        height: 130px;
    }


.textRow a:hover .projectImg img {
    width: 130px;
    transition: all 0.5s;
}
